.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;

  &--medium {
    padding: 0 2.4rem;
    height: 4.8rem;

    border-radius: 0.8rem;

    @extend .text-t3;
  }

  &--white {
    background-color: #fff;
  }

  &--orange {
    background-color: var(--color-500);
    color: #fff;
  }

  &--orange-bordered {
    border-color: var(--color-500);
    color: var(--color-500);
  }
}
