.catalog-block {
  &__title {
    margin-bottom: 3.2rem;

    font: var(--title-h2);
    text-transform: uppercase;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
