.features {
  padding: 2rem 0;
  background-color: #fff;

  @include mq('custom', 'max', 640) {
    padding: 0.8rem 0;
  }


  &__slider {
    overflow: visible;
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  &__slide {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    width: auto;
    gap: 32px;

    @extend .text-t3;

    @include mq('custom', 'max', 640) {
      gap: 16px;

      font-size: 0.8rem;
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;

      @include mq('custom', 'max', 640) {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
}
