-
  const actions = [
    {
      img: "actions-1.png",
      title: "Скидка за сторис ",
      desc: "Отмечайте нас в сторис и получайте скидку 5%"
    },
    {
      img: "actions-2.png",
      title: "Блюдо дня!",
      desc: "Комбо фирменный с шашлыком из свинины"
    },
    {
      img: "actions-3.png",
      title: "Доставка и оплата ",
      desc: "При заказе от 1000 ₽"
    },
  ]

section.actions
  .container
    .actions__slider.swiper
      .swiper-wrapper
        for item in actions
          li.actions__item.swiper-slide
            .actions__item-content
              h3.actions__item-title= item.title
              p.actions__item-desc= item.desc
            .actions__item-img
              +pictureLazy(item.img, "Фото")
