-
  const catalogList1 = [
    {
      img: "catalog-1.jpg",
      title: "Классическая",
      desc: "Капустный салат, огурцы, помидоры, лук,соус фирменный",
      price: "199 ₽"
    },
    {
      img: "catalog-1.jpg",
      title: "ГРЕЧЕСКАЯ",
      desc: "Лист салата айсберг, огурцы, помидоры, болгарский перец, красный лук, сыр фета, маслины, соус ранч, соус песто",
      price: "289 ₽"
    },
    {
      img: "catalog-1.jpg",
      title: "ФИРМЕННАя",
      desc: "Лист салата айсберг, огурцы, томаты черри, обжаренный бекон, красный лук, соус гриль, соус фирменый",
      price: "289 ₽"
    },
    {
      img: "catalog-1.jpg",
      title: "ОХОТНИЧЬЯ",
      desc: "Шампиньоны, кабачки, болгарский перец, охотничьи колбаски, свежий помидор, лист салата айсберг, красный лук, соус горчичный, соус фирменный",
      price: "329 ₽"
    },
    {
      img: "catalog-1.jpg",
      title: "MAX",
      desc: "Капустный салат, огурцы, помидоры, лук,соус фирменный",
      price: "309 ₽"
    },
    {
      img: "catalog-2.jpg",
      title: "С КРЕВЕТКАМИ НА ГРИЛЕ",
      desc: "Лист салата айсберг, огурцы, томаты чери, сыр пармезан, красный лук, соус цезарь, креветки на гриле",
      price: "449 ₽"
    },
    {
      img: "catalog-3.jpg",
      title: "ШАШЛЫК ИЗ КУРИЦЫ",
      desc: "Филе бедра без кожи, капустный салат, маринованный лук, лепешка",
      price: "189 ₽"
    },
    {
      img: "catalog-3.jpg",
      title: "ШАШЛЫК ИЗ ИНДЕЙКИ",
      desc: "Филе грудки без кожи , капустный салат, маринованный лук, лепешка",
      price: "209 ₽"
    },
  ]

-
  const catalogBlocks = [
    "Шаурма",
    "Шашлык",
    "Комбо",
    "Пицца",
    "Салаты",
    "Гарниры",
    "Напитки",
    "соусы",
    "На пикник",
  ]

section.catalog
  .container
    each item, index in catalogBlocks
      +catalog-block(item, catalogList1, `catalogList${index}`)
