-
  const categories = [
    {
      link: "#",
      text: "Шаурма"
    },
    {
      link: "#",
      text: "Шашлык"
    },
    {
      link: "#",
      text: "Комбо"
    },
    {
      link: "#",
      text: "Пицца"
    },
    {
      link: "#",
      text: "Салаты"
    },
    {
      link: "#",
      text: "Гарниры"
    },
    {
      link: "#",
      text: "Напитки"
    },
    {
      link: "#",
      text: "Соусы"
    },
    {
      link: "#",
      text: "на пикник"
    },
  ]

section.intro.page-section
  .container
    .intro__wrapper
      .intro__content
        .intro__content-top
          .intro__logo
            +imgLazy("logo.png")
            .intro__logo-content
              span.intro__logo-name Шампур
              span.intro__logo-city Казань
          .intro__delivery
            span.intro__delivery-time Работаем 10:00—22:30
            span.intro__delivery-desc Доставка и оплата
        h1.intro__title
          | Доставка
          .intro__title-img
            +imgLazy("title-img-1.jpg")
          | шаурмы и
          .intro__title-img
            +imgLazy("title-img-2.jpg")
          | шашлыка
          br
          | В казани
      .intro__video-block
        video.intro__video(preload="none" muted loop playsinline autoplay)
          source(src=`assets/include/intro.webm` type="video/webm")
          source(src=`assets/include/intro.mp4` type="video/mp4")
    .intro__categories.swiper
      .swiper-wrapper
        for item in categories
          a.intro__categories-slide.swiper-slide.button.button--medium.button--white(href=item.link)= item.text
        button.intro__basket.button.button--medium.button--orange
          +icon-multi("basket-icon")
