-
  const features = [
    {
      icon: "features-icon-1",
      text: "Готовим на углях"
    },
    {
      icon: "features-icon-2",
      text: "Бесплатная доставка от 1000 ₽"
    },
    {
      icon: "features-icon-3",
      text: "120+ продуктов"
    },
    {
      icon: "features-icon-4",
      text: "Быстрая доставка по Казани"
    },
  ]

main.page-main.main
  include ../../parts/features
  include intro
  include map
  include actions
  include catalog

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
