article.features
  .container
    .features__slider.swiper.js-infinity-slider
      .swiper-wrapper
        for item in features
          .features__slide.swiper-slide
            +icon-multi(item.icon)
            span= item.text
