.map {
  &__inner {
    position: relative;

    height: 42rem;

    border-radius: 1.6rem;
    background-color: var(--color-700);
    overflow: hidden;
  }

  &__info {
    position: absolute;
    top: 2rem;
    left: 2rem;

    width: 48.4rem;
    padding: 2.4rem;

    border-radius: 1.6rem;
    background-color: var(--color-100);
  }

  &__title {
    max-width: 38rem;
    margin-bottom: 2rem;

    font: var(--text-t1-bold);
    text-transform: uppercase;
  }

  .input-wrapper svg {
    position: absolute;
    left: 1.6rem;
    top: 50%;
    transform: translateY(-50%);

    width: 2.4rem;
    height: 2.4rem;
  }

  &__search-input {
    padding: 0 2rem 0 5.6rem;
  }


}
