@import "./helpers/**/*";
/* stylelint-disable no-invalid-position-at-import-rule */
:root {
  /* Colors */


  /* Layout containers */
  --max-container-width: 148rem;
  --max-narrow-container-width: 110rem;
  --content-padding: 5rem;

  /* Font Family */
  --main-ff: 'Mont', sans-serif;

  /* Font Weight */
  --semi-bold: 600;
  --regular: 400;
  --light: 300;

  /* Text */
  --text-t1: var(--regular) 2rem/140% var(--main-ff);
  --text-t2: var(--semi-bold) 1.8rem/115% var(--main-ff);
  --text-t3: var(--regular) 1.8rem/140% var(--main-ff);
  --text-t4: var(--regular) 1.6rem/140% var(--main-ff);
  --text-t5: var(--semi-bold) 1.4rem/115% var(--main-ff);
  --text-t6: var(--regular) 1.4rem/125% var(--main-ff);

  /* Titles */
  --title-h0: var(--regular) 13rem/90% var(--main-ff);
  --title-h1: var(--regular) 8.8rem/100% var(--main-ff);
  --title-h2: var(--regular) 7rem/120% var(--main-ff);
  --title-h3: var(--semi-bold) 5.5rem/125% var(--main-ff);
  --title-h4: var(--regular) 4rem/125% var(--main-ff);
  --title-h5: var(--semi-bold) 3.2rem/115% var(--main-ff);
  --title-h6: var(--semi-bold) 2.4rem/115% var(--main-ff);

  /* Other Typography */
  --other-1: var(--light) 3rem/80% var(--main-ff);
  --other-2: var(--regular) 1.4rem/120% var(--main-ff);
  --other-3: var(--semi-bold) 1.2rem/125% var(--main-ff);
  --other-4: var(--regular) 0.9rem/115% var(--main-ff);
}

@include mq('custom', 'max', 1024) {
  :root {
    /* Layout containers */
    --content-padding: 3rem;

    /* Text */
    --text-t1: var(--regular) 1.8rem/140% var(--main-ff);
    --text-t3: var(--regular) 1.6rem/140% var(--main-ff);

    /* Titles */
    --title-h0: var(--regular) 8.5rem/90% var(--main-ff);
    --title-h1: var(--regular) 5.5rem/100% var(--main-ff);
    --title-h2: var(--regular) 4.2rem/120% var(--main-ff);
    --title-h3: var(--semi-bold) 3.8rem/125% var(--main-ff);
    --title-h4: var(--regular) 4.2rem/125% var(--main-ff);
    --title-h5: var(--semi-bold) 2.6rem/115% var(--main-ff);
    --title-h6: var(--semi-bold) 1.8rem/115% var(--main-ff);

    /* Other Typography */
    --other-1: var(--light) 2.3rem/80% var(--main-ff);
  }
}

@include mq('custom', 'max', 640) {
  :root {
    /* Layout containers */
    --content-padding: 2rem;

    /* Text */
    --text-t1: var(--regular) 1.4rem/140% var(--main-ff);
    --text-t2: var(--semi-bold) 1.6rem/125% var(--main-ff);
    --text-t3: var(--regular) 1.4rem/125% var(--main-ff);
    --text-t4: var(--regular) 1.2rem/140% var(--main-ff);
    --text-t5: var(--semi-bold) 1.2rem/115% var(--main-ff);
    --text-t6: var(--regular) 1.2rem/125% var(--main-ff);

    /* Titles */
    --title-h0: var(--regular) 4.6rem/90% var(--main-ff);
    --title-h1: var(--regular) 3rem/100% var(--main-ff);
    --title-h2: var(--regular) 2.6rem/120% var(--main-ff);
    --title-h3: var(--semi-bold) 2.4rem/125% var(--main-ff);
    --title-h4: var(--regular) 2.6rem/125% var(--main-ff);
    --title-h5: var(--semi-bold) 1.8rem/115% var(--main-ff);
    --title-h6: var(--semi-bold) 1.4rem/115% var(--main-ff);

    /* Other Typography */
    --other-1: var(--light) 1.6rem/80% var(--main-ff);
    --other-2: var(--regular) 1.2rem/120% var(--main-ff);
  }
}

$minWidth: 360;
$maxWidth: 1680; // Ширина макета
$base-transition-time: 0.3s;
$base-transition-easing: ease;

$overlay-color: rgba(0, 0, 0, 0.5);

$modal-bg-color: white;

@import "./vendor/**/*";
@import "./settings/**/*";
@import "./UI/**/*";
@import "./blocks/**/*";
@import "./pages/**/*";
