@import "./helpers/**/*";
/* stylelint-disable no-invalid-position-at-import-rule */
:root {
  /* Colors */
  --color-900: #000000;
  --color-890: rgba(0, 0, 0, 0.1);
  --color-880: rgba(0, 0, 0, 0.2);
  --color-870: rgba(0, 0, 0, 0.3);
  --color-850: rgba(0, 0, 0, 0.5);
  --color-800: #4D4D4D;
  --color-700: #F3F3F3;
  --color-600: #CEEC15;
  --color-500: #FF6939;
  --color-100: #FFFFFF;

  /* Layout containers */
  --max-container-width: 155.2rem;
  --content-padding: 5rem;

  /* Font Family */
  --main-ff: 'Roboto Flex', sans-serif;
  --secondary-ff: 'Golos', sans-serif;

  /* Font Weight */
  --black: 900;
  --extra-bold: 800;
  --bold: 700;
  --regular: 400;

  /* Text */
  --text-t1-bold: var(--extra-bold) 1.8rem/120% var(--main-ff);
  --text-t1: var(--regular) 1.8rem/100% var(--secondary-ff);
  --text-t2-bold: var(--extra-bold) 1.4rem/120% var(--main-ff);
  --text-t2: var(--regular) 1.4rem/100% var(--secondary-ff);
  --text-t2-130: var(--regular) 1.4rem/130% var(--secondary-ff);
  --text-t3: var(--bold) 1.3rem/120% var(--main-ff);
  --text-t4: var(--regular) 1.2rem/130% var(--secondary-ff);
  --text-t5-bold: var(--bold) 1.1rem/120% var(--main-ff);
  --text-t5: var(--regular) 1.1rem/100% var(--secondary-ff);

  /* Titles */
  --title-h1-bold: var(--black) 6rem/120% var(--main-ff);
  --title-h1-semi: var(--extra-bold) 6rem/120% var(--main-ff);
  --title-h2: var(--extra-bold) 3.2rem/110% var(--main-ff);
  --title-h3: var(--extra-bold) 2.2rem/120% var(--main-ff);
  --title-h4: var(--extra-bold) 1.6rem/120% var(--main-ff);
  --title-h5: var(--extra-bold) 1.4rem/120% var(--main-ff)
}

@include mq('custom', 'max', 1024) {
  :root {
    /* Layout containers */
    --content-padding: 3rem;

    /* Titles */
    --title-h1-bold: var(--black) 4.6rem/120% var(--main-ff);
    --title-h1-semi: var(--extra-bold) 4.6rem/120% var(--main-ff);
    --title-h2: var(--black) 2.8rem/120% var(--main-ff);
  }
}

@include mq('custom', 'max', 640) {
  :root {
    /* Layout containers */
    --content-padding: 2rem;

    /* Text */
    --text-t1: var(--regular) 1.4rem/100% var(--secondary-ff);
    --text-t2-bold: var(--extra-bold) 1.3rem/120% var(--main-ff);
    --text-t2: var(--bold) 1.3rem/120% var(--main-ff);
    --text-t3: var(--regular) 1.2rem/120% var(--secondary-ff);
    --text-t5: var(--regular) 1rem/100% var(--secondary-ff);

    /* Titles */
    --title-h1-bold: var(--black) 3.2rem/120% var(--main-ff);
    --title-h1-semi: var(--extra-bold) 3.2rem/120% var(--main-ff);
    --title-h2: var(--black) 2.4rem/120% var(--main-ff);
    --title-h3: var(--bold) 2rem/120% var(--main-ff);
  }
}

$minWidth: 375;
$maxWidth: 1680; // Ширина макета
$base-transition-time: 0.3s;
$base-transition-easing: ease;

$overlay-color: rgba(0, 0, 0, 0.5);

$modal-bg-color: white;

@import "./vendor/**/*";
@import "./settings/**/*";
@import "./UI/**/*";
@import "./blocks/**/*";
@import "./pages/**/*";
